body{
    padding-top: 10px;
    margin: 0px;
    font-family: 'Source Sans 3', sans-serif;
}

main{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 20px; 
}

section{
    padding: 30px; 
    width: 100%;
}

img{
    width: 100%;
}

h1{
    position: relative;
    bottom: 70px;
    margin: 0pt;
}

header{
    height: 50px;
    font-family: 'Source Sans 3', sans-serif;
    display:flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin: 5px;
}

.logo-img{
  
    width: 30px;
    padding: 0px;
    position: relative;
    right: 18px;
    top:10px;
}

.inicio{
    padding: 5px;
    font-size: 20px;
    text-decoration: initial;
    background-color: #fff;
    border-radius: 20%;
    border: none;
    color:black;
    cursor: pointer;
    padding: 11px 11px;
    
}
    
.inicio:hover{background: #dcdcdc;
    
}

.inicio:active{background: #000000;
    color: #fff;
}

.hoy{
    padding: 5px;
    font-size: 20px;
    text-decoration: initial;
    background-color: #fff;
    border-radius: 30%;
    border: none;
    color:black;
    cursor: pointer;
    padding: 11px 11px;
    
}
    
.hoy:hover{background: #dcdcdc;
    
}

.hoy:active{background: #000000;
    color: #fff;
}

.noti{
    padding: 10px;
    background-color: #fff;
    border-radius: 50%;
    border: none;
    color:black;
    cursor: pointer
    align-self:flex end;
    order: 4;
    
}

.noti:hover{background: #dcdcdc;
    align-self: flex-end;
    
}

.noti:active{
    border: 5px solid #228289;
}

.comment{
    padding: 10px;
    background-color: #fff;
    border-radius: 50%;
    border: none;
    color:black;
    cursor: pointer;
    order: 5;
}

.comment:hover{
    background: #dcdcdc;

}

.comment:active{
    border: 5px solid #228289;
}

.user{
    padding: 10px;
    background-color: #fff;
    border-radius: 50%;
    border: none;
    color:black;
    cursor: pointer;
    order: 6;
}

.user:hover{
    background: #dcdcdc;

}

.user:active{
    border: 5px solid #228289;
}

.expand{
    padding: 10px;
    background-color: #fff;
    border-radius: 50%;
    border: none;
    color:black;
    cursor: pointer;
    order: 7;
}

.expand:hover{
    background: #dcdcdc;
}
    
.expand:active{
    border: 5px solid #228289;
}


#buscador {
    background-color: #dcdcdc;
    width: 1100px;
    height: 40px;
    font-size: 20px;
    text-indent: 10px;
    border-radius: 15px;
    border: 1px;
    align-content: center;
    flex-shrink: 10;
    
}